In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
df = pd.read_csv(Path('./Resources/Vgratings.csv'))
df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['Genre'] = le.fit_transform(df2['Genre'])

In [4]:
df3 = df2.copy()
df3['Publisher'] = le.fit_transform(df3['Publisher'])

In [5]:
df4 = df3.copy()
df4['Platform'] = le.fit_transform(df4['Platform'])

In [6]:
df4

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,26,2006.0,10,361,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,11,1985.0,4,361,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,26,2008.0,6,361,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,26,2009.0,10,361,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,5,1996.0,7,361,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,17,2016.0,0,503,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,28,2006.0,10,91,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,20,2016.0,1,233,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,6,2003.0,4,549,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,20,2016.0,9,503,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df4.dropna()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,26,2006.0,10,361,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
2,Mario Kart Wii,26,2008.0,6,361,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,26,2009.0,10,361,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
6,New Super Mario Bros.,4,2006.0,4,361,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,26,2006.0,3,361,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,6,2001.0,0,357,0.01,0.00,0.00,0.00,0.01,46.0,4.0,2.4,21.0,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,6,2002.0,2,327,0.01,0.00,0.00,0.00,0.01,81.0,12.0,8.8,9.0,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,13,2014.0,0,277,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,Kojima Productions,M
16700,Breach,13,2011.0,8,123,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,Atomic Games,T
16706,STORM: Frontline Nation,13,2011.0,11,533,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+

In [8]:
df_final = df4[['Global_Sales', 'Critic_Score','Publisher','Genre','Platform']].dropna()

In [9]:
df_final

       Global_Sales  Critic_Score  Publisher  Genre  Platform
0             82.53          76.0        361     10        26
2             35.52          82.0        361      6        26
3             32.77          80.0        361     10        26
6             29.80          89.0        361      4         4
7             28.92          58.0        361      3        26
...             ...           ...        ...    ...       ...
16700          0.01          61.0        123      8        13
16701          0.01          53.0        528      5         7
16702          0.01          48.0        298      5         4
16706          0.01          60.0        533     11        13
16709          0.01          63.0        113      1        13

[8137 rows x 5 columns]

In [18]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
scaled_df = pd.DataFrame(data_scaler.fit_transform(df_final))

In [19]:
scaled_df

              0         1         2         3         4
0     45.051907  0.504568  0.350426  1.294156  1.029561
1     19.173789  0.935067  0.350426  0.240021  1.029561
2     17.659966  0.791568  0.350426  1.294156  1.029561
3     16.025037  1.437316  0.350426 -0.287047 -1.586487
4     15.540614 -0.786929  0.350426 -0.550581  1.029561
...         ...       ...       ...       ...       ...
8132  -0.373796 -0.571680 -0.950739  0.767089 -0.516285
8133  -0.373796 -1.145679  1.263429 -0.023513 -1.229753
8134  -0.373796 -1.504428  0.006000 -0.023513 -1.586487
8135  -0.373796 -0.643430  1.290764  1.557690 -0.516285
8136  -0.373796 -0.428180 -1.005410 -1.077649 -0.516285

[8137 rows x 5 columns]

In [22]:
X = scaled_df[[1,2,3,4]]
y = scaled_df[0]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [24]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
# Creating the decision tree classifier instance.
model = LinearRegression()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [26]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [27]:
model.score(X_test, y_test)

0.061013839882188003

In [28]:
predictions

array([ 0.10981223, -0.10562937, -0.00328084, ..., -0.08320714,
        0.43310242,  0.27319675])