In [32]:
import pandas as pd

In [33]:
video_ratings_df = pd.read_csv("Resources/video_rating.csv")

In [34]:
video_ratings_columns = list(video_ratings_df.columns)
video_ratings_columns

['Platform',
 'Year_of_Release',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales',
 'Critic_Score',
 'Critic_Count',
 'User_Score',
 'User_Count',
 'Developer',
 'Rating']

In [35]:
vgratings_04_08_df = pd.read_csv("Resources/vgratings_2004_2008.csv",encoding= "latin1")

In [36]:
vgratings_04_08_df = vgratings_04_08_df.dropna(subset= ["Critic_Score","User_Score"])

In [37]:
vgratings_04_08_df= vgratings_04_08_df.drop(["Critic_Count","User_Count","Developer"], axis=1)

In [38]:
vgratings_04_08_df = vgratings_04_08_df.drop(["Rating"], axis=1)
vgratings_04_08_df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score
0,007: Quantum of Solace,X360,2008,Action,Activision,0.82,0.51,0.01,0.14,1.48,65.0,7.1
1,007: Quantum of Solace,PS3,2008,Action,Activision,0.43,0.51,0.02,0.19,1.14,65.0,6.6
2,007: Quantum of Solace,Wii,2008,Action,Activision,0.29,0.28,0.01,0.07,0.65,54.0,7.5
4,007: Quantum of Solace,DS,2008,Action,Activision,0.11,0.01,0.00,0.01,0.13,65.0,tbd
5,007: Quantum of Solace,PC,2008,Action,Activision,0.01,0.01,0.00,0.00,0.03,70.0,6.3
...,...,...,...,...,...,...,...,...,...,...,...,...
5322,Zoo Keeper,DS,2004,Puzzle,Ignition Entertainment,0.10,0.01,0.05,0.01,0.16,74.0,7.5
5324,Zoo Tycoon 2,PC,2004,Strategy,Microsoft Game Studios,0.00,0.05,0.00,0.01,0.06,72.0,8.1
5325,Zoo Tycoon 2 DS,DS,2008,Strategy,THQ,0.24,0.03,0.00,0.02,0.29,60.0,5.4
5327,Zoo Tycoon DS,DS,2005,Strategy,THQ,0.86,0.03,0.01,0.08,0.98,44.0,6.6
5329,Zubo,DS,2008,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11,75.0,7.6

In [39]:
vgratings_04_08_df.drop(vgratings_04_08_df[vgratings_04_08_df['User_Score'] == "tbd"].index, inplace = True)
vgratings_04_08_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score
0,007: Quantum of Solace,X360,2008,Action,Activision,0.82,0.51,0.01,0.14,1.48,65.0,7.1
1,007: Quantum of Solace,PS3,2008,Action,Activision,0.43,0.51,0.02,0.19,1.14,65.0,6.6
2,007: Quantum of Solace,Wii,2008,Action,Activision,0.29,0.28,0.01,0.07,0.65,54.0,7.5
5,007: Quantum of Solace,PC,2008,Action,Activision,0.01,0.01,0.00,0.00,0.03,70.0,6.3
6,1 vs. 100,DS,2008,Misc,DSI Games,0.08,0.00,0.00,0.01,0.08,38.0,3.2

In [40]:
dtypes = vgratings_04_08_df.dtypes
dtypes

Name                object
Platform            object
Year_of_Release      int64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
User_Score          object
dtype: object

In [42]:
vgratings_04_08_df["User_Score"] = vgratings_04_08_df["User_Score"] .astype("float64")

In [45]:
vgratings_04_08_df.rename(columns = {'Name':'game_name'}, inplace = True)
vgratings_04_08_df.head()

,game_name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score
0,007: Quantum of Solace,X360,2008,Action,Activision,0.82,0.51,0.01,0.14,1.48,65.0,7.1
1,007: Quantum of Solace,PS3,2008,Action,Activision,0.43,0.51,0.02,0.19,1.14,65.0,6.6
2,007: Quantum of Solace,Wii,2008,Action,Activision,0.29,0.28,0.01,0.07,0.65,54.0,7.5
5,007: Quantum of Solace,PC,2008,Action,Activision,0.01,0.01,0.00,0.00,0.03,70.0,6.3
6,1 vs. 100,DS,2008,Misc,DSI Games,0.08,0.00,0.00,0.01,0.08,38.0,3.2

In [43]:
dtypes = vgratings_04_08_df.dtypes
dtypes

Name                object
Platform            object
Year_of_Release      int64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
User_Score         float64
dtype: object

In [41]:
game_names_df = pd.read_csv("Resources/game_name.csv",encoding= "latin1")
game_names_df

      game_id                              game_name
0         101                 007: Quantum of Solace
1         102                              1 vs. 100
2         103                      100 Classic Books
3         104             101-in-1 Explosive Megamix
4         105  12Riven: The Psi-Climinal of Integral
...       ...                                    ...
3768     3869      Zoo Tycoon 2: Ultimate Collection
3769     3870                          Zoo Tycoon DS
3770     3871            Zoo Vet: Endangered Animals
3771     3872                                   Zubo
3772     3873                                   Zwei

[3773 rows x 2 columns]

In [44]:
dtypes2 = game_names_df.dtypes
dtypes2

game_id       int64
game_name    object
dtype: object

In [ ]:
game_names_df.to_csv("clean_game_names.csv")

In [ ]:
vgratings_04_08_df.to_csv("clean_vgratings.csv")